/* estilos.css */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



:root {
    --color-primario: #f8eed6;
      --color-secundario: #090c02;
        --color-tersero: #8b4513;
          --color-cuarto: #913028;
            --color-quinto: #99b189;
              --color-sexyo: #b66e5b;

              }




@font-face {
  font-family: 'TanHarmonie';
  src: url('./assets/fonts/TanHarmoni-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}






@font-face {
  font-family: 'Brown Sugar';
  src: url('./assets/fonts/brown-sugar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}














@font-face {
  font-family: 'High Mount';
  src: url('./assets/fonts/HighMount-PersonalUse.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
















.punotstext{
  font-size: 'Montserrat';
  margin-left: 0%;
  font-size: clamp(2.3em, 2vw, 2.5rem);
  margin-bottom: 5px;
  text-align: center;
  width: 49%;
  background-color: rgba(238, 238, 12, 0);
    color: var(--color-quinto);
    font-weight: 200;
}


.puntosttes{
  color: var(--color-quinto);
  font-size: clamp(2.3rem, 2vw, 2.5rem);
  margin-bottom: 5px;
  text-align: center;

  
}
.CONTEPUTOS{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}





.intrusicnparamas{
  background-color: rgb(255, 255, 255);
  font-size: 'Montserrat';
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  margin-top: 15px;
color: var(--color-tersero);
border-radius: 20px;
}











.tulotarjeta{
  font-size: 'Montserrat';
  font-size: clamp(2.1rem, 2vw, 2.5rem);
  color: var(--color-sexyo);
  margin-bottom: 5px;
  text-align: center;
font-weight: 400;
  width: 100%;

}

.tulotarjetas{
  font-family: 'Brown Sugar';
  font-size: clamp(1.2rem, 2vw, 2.5rem);
  color: var(--color-primario);
  margin-bottom: 5px;
  text-align: center;
font-weight: 300;
  width: 100%;
  

}

.bodyp {
 
  background: linear-gradient(135deg, var(--color-primario), var(--color-tersero));
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.contenedorcomo {
  background:var(--color-tersero);

   font-size: clamp(1.1rem, 2vw, 2.5rem);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgb(0, 0, 0);
  width: 90%;
  max-width: 500px;
  color:var(--color-primario);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.contenedor {
  background: var(--color-primario);
margin-top: 20px;
  padding: 0px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: start;
}

.logodellocal{
    width: 100%;
    max-width: 200px;
    margin-bottom: -50px;
    margin-top: -20px;
    border-radius: 10px;
}


.contenedor h2,
.contenedor h3 {

  margin-bottom: 20px;
}

input {
  display: block;
  width: 110%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  border: 1px solid #111111;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #f8b500;
  outline: none;
}

button {
  padding: 12px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: solid 2px #000000;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgb(0, 0, 0);
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 10px;
}

button:hover {
  background-color: #d79a00;
  transform: scale(1.03);
  color: #ffffff;
}

.qr-area {

  padding: 10px;
  border-radius: 12px;
  border: 1px solid var(--color-quinto) ;
  
}


.qr-area img {
  margin-top: 10px;
}

.premios {
  margin-top: 30px;
  text-align: left;
   font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.premiosh3 {
  text-align: center;
  font-family: 'Brown Sugar';
  font-size: clamp(1.2rem, 2vw, 2.5rem);

}


.premios ul {
  list-style: none;
  padding: 0;
  background-color: #00f82100;
  display: flex;
  gap: 10px;
  padding: 10px;
  overflow: hidden;
  overflow-x: auto;
}

.premios li {
   background-color: var(--color-primario);
min-width: 150px;
max-width: 300px;
  padding: 5px;
  color: #131313;
  border-radius: 12px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content:center;
  transition: transform 0.2s;
}



.itempreitext{
  background-color: rgba(238, 130, 238, 0);
  font-size: clamp(0.8rem, 2vw, 2.5rem);
  width: 70%;
  font-weight: 400;
font-style: italic;
}


.titulop{
    font-size: clamp(1.8rem, 2vw, 2.5rem);
    color: var(--color-primario);
    margin-bottom: 5px;
    text-align: center;
}



.titulo{
    font-size: clamp(1.5rem, 2vw, 2.5rem);
margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
  font-family: 'Brown Sugar';


}
.titulocra{
    font-size: clamp(1.5rem, 2vw, 2.5rem);
margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
  font-family: 'Brown Sugar';
  color: var(--color-sexyo);


}


.txtocratarjr{
  background-color: rgba(65, 105, 225, 0);
  margin-top: -15px;
   font-size: clamp(0.7rem, 2vw, 2.5rem);
  font-family: 'Montserrat', sans-serif;
}

.formulario{

  padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 10px;

}


/*carusen de prkoms*/

.carrusel-container {
  width: 100%;
height: 200px;
background: #f8b60000;
height: auto;
margin-top: 20px;
}

.carrusel-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
 width: auto;
  height: auto;
  background-color: rgba(0, 255, 255, 0);
  margin: 10px ;
  overflow: hidden;
overflow-x: auto;
justify-content: space-between;
gap: 20px;
align-items: center;
 padding: 10px;
 
}

.carrusel-img {
  width: 100%;
border-radius: 20px;
  max-height: 9rem;
  min-height: 9rem;
  object-fit: scale-down;
}

.cmotex {
 width: 100%;
  margin-bottom: 4px;
font-family: 'Montserrat', sans-serif;
  padding-left: 0rem;     /* espacio antes del texto */
  text-indent: -1rem;     /* hace que la primera línea retroceda */


font-weight: 300; 
}
.contenedorcomotexto{
  background-color: #91312800;
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
margin-left: 15px;

}

.txtoinixcal{
  background-color: #d79a0000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.8rem, 2vw, 2.5rem);
  color: var(--color-secundario);
  font-weight: 500;
  padding: 10px;
  width: 75%;
  text-align: center;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
transform: translate(-0%, -0%);
}